/* ../blocks/page/page.css: begin */ /**/
    .page {
        background: #000 url(../blocks/page/1.png);
    }
    
/* ../blocks/page/page.css: end */ /**/

/* ../blocks/page/page.ie.css: begin */ /**/
    .page {
        background: #222 url(../blocks/page/1.png);
    }
    
/* ../blocks/page/page.ie.css: end */ /**/

/* ../blocks/page/page.ie7.css: begin */ /**/
    .page {
        background: #555 url(../blocks/page/1.png);
    }
    
/* ../blocks/page/page.ie7.css: end */ /**/
