coverage
node_modules
docs
.idea
test/fixtures/sample-project/page/*
!test/fixtures/sample-project/page/page.bemjson.js
!test/fixtures/sample-project/page/blocks/page/*
test/fixtures/sample-project/.bem/tmp
coverage.html
npm-debug.log
report.lcov
