<!DOCTYPE HTML>
<html ng-app>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf8"/>
    <title>ENB: Конфигуратор</title>
    <link href="css/index.css" type="text/css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="css/bootstrap-responsive.min.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <!-- MODE: IFRAME -->
    <!-- ORIGIN: tools/config/index.html -->
    <div class="container" ng-controller="ENBController">
        <h2>Проекты</h2>
        <div class="row">
            <div class="span6">
                <form class="form-inline">
                    <input type="text" ng-model="data.newProject.name" placeholder="Новый проект" />
                    <button class="btn" ng-click="addProject()" ng-disabled="!data.newProject.name">Добавить</button>
                </form>
            </div>
        </div>
        <div class="hero-unit" ng-repeat="project in data.projects">
            <button class="btn btn-danger pull-right" ng-click="data.projects.splice(data.projects.indexOf(project), 1)">Удалить проект</button>
            <h3>{{project.name}}</h3>
            <form class="form-inline">
                <input type="text" ng-list ng-model="project.languages" placeholder="Языки (ru, en)" class="span2" />
            </form>
            <form class="form-inline">
                <input type="text" ng-model="project._newNodeName" placeholder="Папка для сборки (pages/index)" class="span3" />
                <button class="btn" ng-click="addNode(project)" ng-disabled="!project._newNodeName">Добавить</button>
            </form>
            <div ng-repeat="node in project.nodes">
                <button class="btn btn-danger pull-right" ng-click="project.nodes.splice(project.nodes.indexOf(node), 1)">Удалить папку</button>
                <h4>{{node.name}}</h4>
                <h5>Уровни переопределения</h5>
                <table class="table table-bordered">
                    <tr>
                        <td>{{node.name}}/blocks</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="level in node.levels">
                        <td>
                            {{level.path}}
                        </td>
                        <td>
                            <label class="checkbox">
                                <input type="checkbox" ng-model="level.check" />
                                Я изменяю блоки на этом уровне, работая над проектом
                            </label>
                        </td>
                        <td>
                            <button class="btn btn-danger pull-right" ng-click="node.levels.splice(node.levels.indexOf(level), 1)">Удалить</button>
                        </td>
                    </tr>
                </table>
                <form class="form-inline">
                    <input type="text" ng-model="node._newLevel" placeholder="Уровень переопределения (lego/blocks-common)" class="span4" />
                    <button class="btn" ng-click="node.levels.push({path: node._newLevel, check: true}); node._newLevel = '';" ng-disabled="!node._newLevel">Добавить</button>
                </form>
                <h5>Необходимо собрать файлы</h5>
                <table class="table table-bordered">
                    <tr ng-repeat="result in node.resultFiles">
                        <td>
                            {{node.baseName}}.{{result.ext}}
                        </td>
                        <td>
                            <button class="btn btn-danger pull-right" ng-click="node.resultFiles.splice(node.resultFiles.indexOf(result), 1)">Удалить</button>
                        </td>
                    </tr>
                </table>
                <form class="form-inline">
                    <select ng-model="node._newResultFile">
                        <option value=""></option>
                        <option value="html">{{node.baseName}}.html</option>
                        <option value="js">{{node.baseName}}.js</option>
                        <option value="{lang}.js">{{node.baseName}}.{lang}.js</option>
                        <option value="priv.js">{{node.baseName}}.priv.js</option>
                        <option value="{lang}.priv.js">{{node.baseName}}.{lang}.priv.js</option>
                        <option value="css">{{node.baseName}}.css</option>
                        <option value="ie.css">{{node.baseName}}.ie.css</option>
                        <option value="ie6.css">{{node.baseName}}.ie6.css</option>
                        <option value="ie7.css">{{node.baseName}}.ie7.css</option>
                        <option value="ie8.css">{{node.baseName}}.ie8.css</option>
                        <option value="ie9.css">{{node.baseName}}.ie9.css</option>
                    </select>
                    <button class="btn" ng-click="addNodeResultFile(node)" ng-disabled="!node._newResultFile">Добавить файл для сборки</button>
                </form>
                <h5>Исходные файлы</h5>
                <form class="form-inline">
                    <label>
                        {{node.baseName}}.bemdecl.js &nbsp;
                        <select ng-model="node.bemdeclSource">
                            <option value="">Уже есть в проекте</option>
                            <option value="bemjson">Строится из {{node.baseName}}.bemjson.js</option>
                        </select>
                    </label>
                </form>
            </div>
            <h4>Результирующий <span class="label">.bem/enb-make.js</span> для проекта</h4>
            <textarea class="project-build-result" readonly>{{getBuildResult(project)}}</textarea>
        </div>
        <h2>Что делать с конфигом?</h2>
        <div class="hero-unit instructions">
            <ul>
                <li class="form-inline">
                    <label>Идем в папку с проектом</label>
                </li>
                <li class="form-inline">
                    <label>Сохраняем конфиг в <input type="text" readonly value=".bem/enb-make.js"/></label>
                </li>
                <li class="form-inline">
                    <label>Устанавливаем пакет enb <input type="text" readonly value="npm install enb"/></label>
                </li>
                <li class="form-inline">
                    <label>Можно теперь собрать проект <input type="text" readonly value="./node_modules/.bin/enb make"/></label>
                </li>
                <li class="form-inline">
                    <label>А можно запустить сервер <input type="text" readonly value="./node_modules/.bin/enb server"/></label>
                </li>
                <li class="form-inline">
                    <label>Конфеты слать на <a href="mailto:mdevils@yandex-team.ru">mdevils@yandex-team.ru</a></label>
                </li>
            </ul>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/index.js" type="text/javascript"></script>
</body>
</html>
