.container .hero-unit {
    padding: 20px;
}

.container .project-build-result {
    width: 100%;
    height: 200px;
    font-family: courier new, monospace;
    background: white;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}
